section.choose-us
    .container
        .choose-us-wrap
            .choose-us__text.wow.animated.fadeInUp
                h4.choose-us__text-title Почему выбирают нас
                p.choose-us__text-subtitle Все услуги нашей студии оказываются профессионалами и с помощью современного оборудования
            .choose-us__cards.wow.animated.fadeInUp
                +card-choose-us("8920", 'татуировок сделали наши мастера', "#", '01.jpg')
                +card-choose-us("12", 'мастеров высочайшего уровня', "#", '02.jpg')
                +card-choose-us("100%", 'стерильность помещения и  оборудования', "#", '03.jpg')
