.container
    .footer-wrap.wow.animated.fadeInUp
        a(href="#").footer__logo AMZ TATOO 
        a(href="#").footer__copy Политика конфиденциальности
        .footer__social
            a(href="#")
                <i class="fa fa-twitter" aria-hidden="true"></i>
            a(href="#")
                <i class="fa fa-instagram" aria-hidden="true"></i>
            a(href="#")
                <i class="fa fa-vk" aria-hidden="true"></i>
