section.form
    .container
        .form-wrap.wow.animated.fadeInUp
            form(action="#").form-row
                .form-col
                    .form__title Ваше имя
                    input(type="text", name="form-name" class="form__input" placeholder='Имя')
                .form-col
                    .form__title Телефон
                    input(type="tel", name="form-tel" class="form__input" placeholder='Телефон')
                .form-col
                    button.form__sign-up <span>Записаться</span>
            .form-row
                p.form__copy Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности.