section.header
    .header__carousel.owl-carousel.owl-theme
        .owl-carousel__item
            .owl-carousel__item-bg
                    img(src="./img/header/bg01.jpg", alt="bg01")
            .owl-carousel__item-wrap.container.wow.animated.fadeInUp
                .owl-carousel__item-col.owl-carousel__item-text
                    h2.owl-carousel__item-title Лучшие в рейтинге <br> Цены и качества
                    h3.owl-carousel__item-subtitle от разработки эскиза к безупречной татуировке
                    p.owl-carousel__item-price при заказе от 4999 ₽
                .owl-carousel__item-col.owl-carousel__item-img
                    img(src="./img/header/banner01.png", alt="banner01")
        .owl-carousel__item
            .owl-carousel__item-bg
                    img(src="./img/header/bg01.jpg", alt="bg01")
            .owl-carousel__item-wrap.container
                .owl-carousel__item-col.owl-carousel__item-text
                    h2.owl-carousel__item-title Лучшие в рейтинге <br> Цены и качества
                    h3.owl-carousel__item-subtitle от разработки эскиза к безупречной татуировке
                    p.owl-carousel__item-price при заказе от 4999 ₽
                .owl-carousel__item-col.owl-carousel__item-img
                    img(src="./img/header/banner01.png", alt="banner01")
        .owl-carousel__item
            .owl-carousel__item-bg
                    img(src="./img/header/bg01.jpg", alt="bg01")
            .owl-carousel__item-wrap.container
                .owl-carousel__item-col.owl-carousel__item-text
                    h2.owl-carousel__item-title Лучшие в рейтинге <br> Цены и качества
                    h3.owl-carousel__item-subtitle от разработки эскиза к безупречной татуировке
                    p.owl-carousel__item-price при заказе от 4999 ₽
                .owl-carousel__item-col.owl-carousel__item-img
                    img(src="./img/header/banner01.png", alt="banner01")
    .header__info
        img(src="./img/header/svg/left-arrow.png", alt="")
        span Крутите вниз
    aside.header__burger#burger-menu
        .header__burger-item
            a(href="#").header__burger-item-title О нас
        .header__burger-item
            a(href="#").header__burger-item-title Портфолио
            .header__burger-other
                a(href="#").header__burger-other-item 1 работа
                a(href="#").header__burger-other-item 2 работа
                a(href="#").header__burger-other-item 3 работа
                a(href="#").header__burger-other-item 4 работа
                a(href="#").header__burger-other-item 5 работа
                a(href="#").header__burger-other-item 6 работа
        .header__burger-item
            a(href="#").header__burger-item-title Этапы работы
            .header__burger-other
                a(href="#").header__burger-other-item Заявка
                a(href="#").header__burger-other-item Разработка
                a(href="#").header__burger-other-item Сеанс
        .header__burger-item
            a(href="#").header__burger-item-title Команда
            .header__burger-other
                a(href="#").header__burger-other-item Максим Хорламов
                a(href="#").header__burger-other-item Петр Герасимов
                a(href="#").header__burger-other-item Анна Ильина
        .header__burger-item
            a(href="#").header__burger-item-title Цены
            .header__burger-other
                a(href="#").header__burger-other-item Цены на Тату
                a(href="#").header__burger-other-item Цены на Пирсинг



