section.how-we-work
    .container
        .how-we-work__wrap.wow.animated.fadeInUp
            h4.how-we-work__title Как мы работаем
            .how-we-work__article
                article.how-we-work__article-col
                    span.how-we-work__article-num 1
                    h5.how-we-work__article-title Заявка на сайте или по  телефону
                    p.how-we-work__article-text Мы воплотим любую вашу идею татуировки в жизнь. Оставьте заявку и мы перезвоним вам в течение 15 минут.
                article.how-we-work__article-col
                    span.how-we-work__article-num 2
                    h5.how-we-work__article-title Разработка  уникального эскиза
                    p.how-we-work__article-text Далее мастер приступает к созданию индивидуального эскиза татуировки по вашей задумке и утверждает его с вами.
                article.how-we-work__article-col
                    span.how-we-work__article-num 3
                    h5.how-we-work__article-title Сеанс татуировки и  итоговая оплата
                    p.how-we-work__article-text В стерильной студии и с использованием лучшего оборудования вы получаете качественную татуировку.
