section.navigation.wow.animated.fadeInUp
    .container
        .navigation-wrap
            .navigation-col
                a(href="index.html").navigation__logo
                    img(src="./img/logo/logo.png", alt="logo")
                    h1.navigation__logo-title AMZ TATOO
                ul.navigation__links
                    li.navigation__links-item
                        a(href="#").navigation__links-item-href О нас
                    li.navigation__links-item
                        a(href="#").navigation__links-item-href Портфолио
                    li.navigation__links-item
                        a(href="#").navigation__links-item-href Этапы работы
                    li.navigation__links-item
                        a(href="#").navigation__links-item-href Команда
                    li.navigation__links-item
                        a(href="#").navigation__links-item-href Цены
                .navigation__links-burger#burger-btn
                    span
            .navigation-col
                .navigation__social
                    a(href="mailto:amztatto@mail.ru").navigation__social-item
                        img(src="./img/nav/svg/email.png", alt="email")
                        span.navigation__social-link Написать нам
                    a(href="tel:8495223456").navigation__social-item
                        img(src="./img/nav/svg/mobile.png", alt="mobile")
                        span.navigation__social-link +7 (495) 223456
                .navigation__sign-up
                    button.navigation__sign-up-btn.btn-hover Записаться на сеанс