section.team
    .container
        .team__wrap.wow.animated.fadeInUp
            h4.team__title Наша команда
            p.team__subtitle Искусство предполагает чувства за творчеством, а татуировка несет эти чувства через всю жизнь. Именно поэтому татуировку можно назвать искусством в его чистом виде.
            .team__cards
                .team__cards-item
                    .team__cards-img 
                        img(src="./img/team/01.jpg", alt="Максим Хорламов")
                    h5.team__cards-title Максим Хорламов
                    p.team__cards-subtitle Макс специализируется на татуировках в стиле реализм, качественно и быстро исполняя масштабные работы.
                .team__cards-item
                    .team__cards-img 
                        img(src="./img/team/02.jpg", alt="Петр Герасимов")
                    h5.team__cards-title Петр Герасимов
                    p.team__cards-subtitle Основная масса работ Петра - это татуировки в стиле black&gray, а также графика и кавер-ап в реализме.
                .team__cards-item
                    .team__cards-img 
                        img(src="./img/team/03.jpg", alt="Анна Ильина")
                    h5.team__cards-title Анна Ильина
                    p.team__cards-subtitle Анна - специалист пирсинга и микродермала, имеющий медицинское образование и 3 года успешного опыта работы.