.form {
  padding: 45px 0 30px;
  background: $black;
}

.form-wrap {
  @media (min-width: 1230px) {
    margin-left: 115px;
    margin-right: 70px;
  }
}

.form-row {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 1230px) {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;

    &:first-child {
      margin-left: 15px;
    }
  }
}

.form-row + .form-row {
  margin-top: 30px;
}

.form-col {
  margin-bottom: 20px;

  @media (min-width: 1230px) {
    margin-bottom: 20px;
  }
}

.form__title {
  margin-bottom: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.form__input {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  width: 300px;
  height: 50px;
  font-size: 18px;
  color: $black;
  font-family: "MuseoSansCyrl_3";
  font-weight: 300;
  outline: none;
  border: none;
  overflow: hidden;

  &::placeholder {
    font-size: 18px;
    color: $black;
    font-family: "MuseoSansCyrl_3";
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: border 0.4s linear;
  }
}

.form__input:hover::placeholder,
.form__input:focus::placeholder {
  border-bottom: 2px solid $red;
}

.form__sign-up {
  position: relative;
  padding: 0 43px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 50px;
  outline: none;
  border: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "MuseoSansCyrl_9";
  font-weight: 900;
  transition: color 0.6s linear;
  z-index: 2;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 25px;
    width: 50%;
    background-color: #ff0000;
    transition: all 0.2s linear;
    z-index: -1;
  }
  &::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: "";
    height: 25px;
    width: 50%;
    background-color: #ff0000;
    transition: all 0.2s linear 0.2s;
    z-index: -1;
  }

  span::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: 25px;
    width: 50%;
    background-color: #ff0000;
    transition: all 0.2s linear 0.4s;
    z-index: -1;
  }

  span::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    height: 25px;
    width: 50%;
    background-color: #ff0000;
    transition: all 0.2s linear 0.6s;
    z-index: -1;
  }
}

.form__sign-up:hover {
  color: #0e0b12;
  &::before {
    top: -25px;
    left: 0;
    height: 25px;
    width: 0;
  }
  &::after {
    bottom: -25px;
    left: 0;
    height: 25px;
    width: 0;
  }

  span::before {
    top: -25px;
    right: 0;
    height: 25px;
    width: 0;
  }

  span::after {
    bottom: -25px;
    right: 0;
    height: 25px;
    width: 0;
  }
}

.form__copy {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;

  @media (min-width: 1230px) {
    text-align-last: left;
  }
}
